[Desktop Entry]
Name=Monero GUI
GenericName=Monero-GUI
X-GNOME-FullName=Monero-GUI
Comment=Monero GUI
Keywords=Monero;
Exec=/usr/local/monero-gui/monero-wallet-gui
Icon=/usr/local/monero-gui/monero.png
Terminal=false
Type=Application
Categories=Network;GNOME;Qt;
MimeType=x-scheme-handler/monero;x-scheme-handler/moneroseed
StartupNotify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-UsesNotifications=true
StartupWMClass=monero-wallet-gui
Path=
